/* App.css */

html {
  scroll-behavior: smooth;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.App {
  padding-top: 60px; /* To prevent content from hiding behind the fixed navbar */
}

section {
  padding: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}
